/* 공통 form */

.form {
    background: #ED552F;
    width: 244px;
    height: 161px;
    font-family: Pretendard;
    padding-left: 12px;
    border-radius: 5px;
    display: block;
}

/* 개별 form */

h1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    color: #ffff00;
    padding-top: 12px;
}

.formInput {
    width: 220px;
    height: 106px;
    background-color: white;
}

.fixText {
    display: inline-block;
    width: 56px;
    height: 21px;
    padding-top: 1.5px;
    padding-right: 19px;
    padding-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}

.inputBox {
    width: 90px;
    height: 24px;
    border-radius: 5px;
    border-color: #cccccc;
    color: #cccccc;
    margin-top: 8px;
    padding-left: 8px;
}

.loginButton {
    text-align: center;
    color: white;
    background-color: #ED552F;
    width: 50px;
    height: 53px;
    border-radius: 5px;
}

.aLink { 
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    width: 220px;
    height: 36px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 8px;
}

.join {
    color: #181818;
}

.find {
    color: #181818;
}