p {
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 16px;
    margin-bottom: 0px;
}

dl {
    background-color: #cccccc;
    padding: 16px;
    width: 250px;
    height: 259px;
}



.web-dt-l {
    font-size: 14px;
    font-weight: 700;
    padding-left: 75px;
    padding-right: 0px;
    color: #296897;
}

.web-dt-r {
    font-size: 14px;
    font-weight: 700;
    padding-left: 0px;
    padding-right: 0px;
    color: #296897;
}

/*로고 왼쪽*/

.w3clogol {
    width: 60px;
    height: 68px;
    float: left;
    margin-top: -15px;
    margin-left: -40px;
    padding-right: 16px;
}

/*로고 오른쪽*/

.w3clogor {
    width: 60px;
    height: 68px;
    float: right;
    padding-left: 16px;
}

.w3c-left {
    width: 218px;
    height: 88px;
    font-size: 14px;
}

.w3c-right {
    width: 218px;
    height: 88px;
    font-size: 14px;
}

/* dd text 아래 */
.web-dd-r {
    margin-left: 0;
}