/* 관련 사이트 제목 */
.buttonWrapper {
    background: rgb(172, 172, 172);
    width: 220px;
    padding-left: 20px;
    padding-bottom: 4px;
}
.buttonWapperMenu {
    background: rgb(172, 172, 172);
    margin-bottom: 15px;
}

/* 공통 */
a {
    font-size: var(16px);
    text-decoration-line: none;
    color: #181818
}

/* 동작전 */
.menuList {
    list-style: none;
    background: white;
    border-radius: 5px;
    width: 180px;
    height: 1.5rem;
    padding-top: 5px;
    padding-left: 20px;
    transition: height 400ms, padding-top 400ms 400ms;
    overflow: hidden;
}

/* 동작후 */
.menuList:hover {
    height: 8rem;
    padding-top: 12px;
}

